<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.wfit.hotelmanage.mapper.ReservationMapper">

    <resultMap id="BaseResultMap" type="edu.wfit.hotelmanage.pojo.Reservation">
            <id property="bookId" column="book_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="roomId" column="room_id" jdbcType="INTEGER"/>
            <result property="bookDate" column="book_date" jdbcType="TIMESTAMP"/>
            <result property="checkInDate" column="check__in_date" jdbcType="TIMESTAMP"/>
            <result property="checkOutDate" column="check_out_date" jdbcType="TIMESTAMP"/>
            <result property="bookStatus" column="book_status" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        book_id,user_id,room_id,
        book_date,check_in_date,check_out_date,
        book_status
    </sql>
    <select id="getByRoomId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_reservation
        where
        room_id = #{roomId,jdbcType=NUMERIC}
    </select>
    <select id="getAllByCheckOutDateBetweenAndBookStatus" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_reservation
        where
        check_out_date between #{beginCheckOutDate} and #{endCheckOutDate}
        AND book_status = #{bookStatus,jdbcType=VARCHAR}
    </select>
    <update id="updateBookStatusByCheckOutDateBetweenAndBookStatus">
        update t_reservation
        set book_status = #{bookStatus,jdbcType=VARCHAR}
        where check_out_date between #{beginCheckOutDate,jdbcType=TIMESTAMP} and #{endCheckOutDate,jdbcType=TIMESTAMP}
          AND book_status = #{oldBookStatus,jdbcType=VARCHAR}
    </update>
    <select id="getByBookStatus" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_reservation
        where
        book_status = #{bookStatus,jdbcType=VARCHAR}
    </select>
    <update id="updateCheckOutDateByBookId">
        update t_reservation
        set check_out_date = #{checkOutDate,jdbcType=TIMESTAMP}
        where book_id = #{bookId,jdbcType=NUMERIC}
    </update>
</mapper>
